build/
eclipse/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
.gradle/
.nb-gradle/
.nb-gradle-properties
.settings/
.classpath
.project
/gradle.properties
push/
.idea/
*.iml
run/
private/
*.ipr
*.iws
out/
bin/
classes/
src/main/java/extendedshaders/core/
mcsrc/
build.gradle
forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt
gradle/
gradlew
gradlew.bat